<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="thumbnail">
        <img src="//localhost:9000/images/5.jpg">
        <div class="caption">
          <h3>О Нас</h3>
          <p>Мы дорожим Вашим доверием и благодарим Вас за то, что Вы с нами с 2000 года!</p>
          <p>Постоянное улучшение нашего сайта является одной из наших приоритетных задач.</p>
          <p>В связи с этим мы обращаемся к Вам с просьбой о сотрудничестве!</p>

          <p>Мы хотим узнать все Ваши пожелания и замечания по работе нашего сайта с тем, чтобы принять информацию к вниманию и исправить недочеты. Мы с радостью ответим на все ваши запросы, пожелания и замечания. Поверьте, они очень ценны для нас!</p>


        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="thumbnail">
        <img src="//localhost:9000/images/6.jpg">
        <div class="caption">
          <p>У Вас, есть возможность повлиять на ситуацию и внести изменения в свою жизнь и жизнь нашего сайта. Каждое Ваше обращение будет рассмотрено, по Вашим замечаниям будут приняты необходимые меры для устранения и предотвращения возникновения подобных ситуаций в будущем!</p>

          <p>Будьте активны! Мы уверены, Вам есть что сказать!</p>
          <p>Мы гарантируем конфиденциальность Вашего мнения!</p>

          <p>Выберите подходящую цель обращения, кратко опишите суть вопроса, укажите свои имя и фамилию, а также номер телефона и/или адрес электронной почты, - и наши специалисты сами свяжутся с Вами!</p>
        </div>
      </div>
    </div>
  </div>

</div>
