<div class="container">
  <div class="row">

    <uib-accordion close-others="oneAtATime">
      <div uib-accordion-group class="panel-warning" is-open="status.open">
        <uib-accordion-heading>
          Цены на меню и прочее <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>


          <div class="menu-body">
            <!-- Section starts: Appetizers -->
            <div class="menu-section">
              <h2 class="menu-section-title">MAIN COURSE</h2>
              <!-- Item starts -->
              <div class="menu-item">
                <div class="menu-item-name">
                  Delicious Dish
                </div>
                <div class="menu-item-price">
                  $50
                </div>
                <div class="menu-item-description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                </div>
              </div>
              <!-- Item ends -->
              <!-- Item starts -->
              <div class="menu-item">
                <div class="menu-item-name">
                  Delicious Dish
                </div>
                <div class="menu-item-price">
                  $50
                </div>
                <div class="menu-item-description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                </div>
              </div>
              <!-- Item ends -->
              <!-- Item starts -->
              <div class="menu-item">
                <div class="menu-item-name">
                  Delicious Dish
                </div>
                <div class="menu-item-price">
                  $30
                </div>
                <div class="menu-item-description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                </div>
              </div>
              <!-- Item ends -->
              <!-- Item starts -->
              <div class="menu-item">
                <div class="menu-item-name">
                  Delicious Dish
                </div>
                <div class="menu-item-price">
                  $30
                </div>
                <div class="menu-item-description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                </div>
              </div>
              <!-- Item ends -->
            </div>
            <!-- Section ends: Appetizers -->
            <!-- Section starts: Drinks -->
            <div class="menu-section">
              <h2 class="menu-section-title">DRINKS</h2>
              <!-- Item starts -->
              <div class="menu-item">
                <div class="menu-item-name">
                  Tasty Drink
                </div>
                <div class="menu-item-price">
                  $30
                </div>
                <div class="menu-item-description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                </div>
              </div>
              <!-- Item ends -->
              <!-- Item starts -->
              <div class="menu-item">
                <div class="menu-item-name">
                  Tasty Drink
                </div>
                <div class="menu-item-price">
                  $30
                </div>
                <div class="menu-item-description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                </div>
              </div>
              <!-- Item ends -->
              <!-- Item starts -->
              <div class="menu-item">
                <div class="menu-item-name">
                  Tasty Drink
                </div>
                <div class="menu-item-price">
                  $30
                </div>
                <div class="menu-item-description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                </div>
              </div>
              <!-- Item ends -->
              <!-- Item starts -->
              <div class="menu-item">
                <div class="menu-item-name">
                  Tasty Drink
                </div>
                <div class="menu-item-price">
                  $30
                </div>
                <div class="menu-item-description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                </div>
              </div>
              <!-- Item ends -->
            </div>
            <!-- Section ends: Drinks -->
          </div>
        

      </div>

      <div uib-accordion-group class="panel-success" is-open="statusb.open">
        <uib-accordion-heading>
          Выгодное предложение <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusb.open, 'glyphicon-chevron-right': !statusb.open}"></i>
        </uib-accordion-heading>
        <h3>
          Прекрасные новости от <span style="color:#8bb91c; font-weight:bold;">LEVELS</span>:
        </h3>
        <p>Теперь мы работаем для Вас 24 часа 7 дней в неделю🎬</p>
        <p>Вы можете позавтракать у нас и выпить ароматный и бодрящий кофе от 890 тг☕️</p>
        <p>Приходите с друзьями и коллегами попробовать лучший бизнес ланч по лучшей цене от 590 тг, а также бента ланч на Ваш вкус🍣🍟🍝🍱</p>
        <p>Караоке и Playstation СЭТЫ 🎤🎮</p>
        <p>Ароматные кальяны от 2500 тг на ручном табаке, аргелини и адалия</p>
        <p>круглосуточная доставка суши, пиццы и мн.другого</p>
        <p>Ждем Вас каждый день и всегда рады предоставлять лучший сервис по лучшим ценам от LEVELS</p>
        <p>Телефон для справок: 87019797921</p>
      </div>
    </uib-accordion>
  </div>
</div>
